 <?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="info.kyorohiro.tinybeacon"
    version="0.0.1">
    <name>TinyBeacon Plugin</name>
    <description>xxx</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ibeacon</keywords>
    <repo>https://github.com/kyorohiro/cordova-plugin-hello.git</repo>

    <js-module src="www/tinybeacon.js" name="TinyBeacon">
      <merges target="cordova.plugins"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TinyBeacon">
                <param name="android-package" value="info.kyorohiro.tinybeacon.TinyBeaconCordovaPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
	  <uses-permission android:name="android.permission.BLUETOOTH" />
          <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
          <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
          <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>


        <source-file src="src/android/TinyAdPacket.java" target-dir="src/info/kyorohiro/tinybeacon" />
	<source-file src="src/android/TinyIBeaconPacket.java" target-dir="src/info/kyorohiro/tinybeacon" />
        <source-file src="src/android/TinyBeacon.java" target-dir="src/info/kyorohiro/tinybeacon" />
        <source-file src="src/android/TinyBeaconCordovaPlugin.java" target-dir="src/info/kyorohiro/tinybeacon" />

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This app would like to scan iBeacons in the background.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>This app would like to scan iBeacons.</string>
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="TinyBeacon">
                <param name="ios-package" value="TinyBeacon"/>
            </feature>
        </config-file>
        <header-file src="src/ios/TinyBeacon.h"/>
        <source-file src="src/ios/TinyBeacon.m"/>
        <source-file src="src/ios/TinyBeaconInfo.m"/>
        <source-file src="src/ios/TinyBeaconInfoList.m"/>
        <framework src="CoreBluetooth.framework" />
        <framework src="CoreLocation.framework" />
    </platform>

</plugin>
